

/*---------------------- *\
 * - Vriables
\* --------------------- */


:root {
  /* gradient color */

  --gradient-color-1: leaner-gradiant(to right, #f2709c,#ff9472);

  /* colors */

  --botton-color: #2D2942;
  --text-color: #2A2640;
  --p-color: #585184;

  --green-color: #7CCCBA;
  --green-ligth-color: #DAF2EC;

  --brown-color: #FDE7BA;
  --brown-ligth-color: #FFFBF1;

  --pink-color: #FFA5E1;
  --pink-ligth-color: #FAD4EC;

  --gry-color: #eee;

  --html: #E54D26;
  --java: #5382A1;
  --js: #F7E024;
  --css: #2651E5;

  /* size */

  --title-size: 30px;
  --p-size: 12px;

  /* weight */

  --font-900: 900;
  --font--500: 500;
  

}



/*---------------------- *\
 * - Globall
\* --------------------- */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul li { list-style: none; }

a { text-decoration: none;  color : var(--text-color);}


/* Small  */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Midum  */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Extra large */

@media (min-width: 1300px) {
  .container {
    width: 1300px;
  }
}



/*---------------------------------- *\
 * ----- Sidebar and content ---------
\* --------------------------------- */


.page ,
.sidebar .profile,
.page .sidebar .head,
.buttons{
  display: flex;
  align-items: center;
}

.page .sidebar { 
  width: fit-content; 
  height: 100vh;
  box-shadow: 0px 2px 10px #eee;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page .content { 
  height: 100vh;
  width: 100%;
}

.page .sidebar .head {
  justify-content: space-between;
  font-size: 24px;
  font-weight: var(--font-900);
  color: var(--text-color);
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10rem;
}
 
.page .sidebar ul li,.buttons button , .home_btn {
  padding: 8px 14px;
  width: 10rem;
  border-radius: 10px;
  background-color: var(--gry-color);
  transition: .5s;
  cursor: pointer;
}

.page .sidebar ul li:hover { background-color: var(--brown-ligth-color); }

.page .sidebar ul li.active { background-color: var(--brown-ligth-color); }



.page .sidebar ul li:not(:last-child) {
  margin-bottom: 10px;
}


.page .sidebar ul li a i { margin-right: 1rem; }


.sidebar .profile { gap: 6px; }

.page .sidebar .head .right_move {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
}

.page .sidebar .head .right_move:hover {
  background-color: var(--brown-ligth-color);
}

.buttons {
  margin-bottom: 1rem;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.buttons button ,
.home_btn,
.btn_c {
  text-align: center;
  border: none;
  background-color: var(--botton-color);
  color: #fff;
  transition: .5s;
  box-shadow: 3px 3px var(--p-color);
}


.buttons button:hover,
.home_btn:hover,
.btn_c:hover {
  background-color: var(--p-color);
  transform: translate(1px,1px);
  box-shadow: none;
}

.buttons button.active {
  background-color: var(--p-color);
  box-shadow: none;
}


.page .sidebar ul li:nth-child(1) i {color: var(--html);}
.page .sidebar ul li:nth-child(2) i {color: var(--java);}
.page .sidebar ul li:nth-child(3) i {color: var(--js);}
.page .sidebar ul li:nth-child(4) i {color: var(--css);}


/* Display none */

#list {
   max-height: 0;
   transition: max-height 0.3s ease, opacity 0.3s ease;
   opacity: 0;
 }
 
 #list.show {
   max-height: 500px; /* Adjust based on your content */
   opacity: 1;
 }




/*---------------------- *\
 * ----- HOME ---------
\* --------------------- */


.page .content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content_head {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.btn_c{
  padding: 10px;
  border-radius: 8px;
}

.info{
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}

.person_info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.person_info img{
  width: 150px;
  height: auto;
}

.score{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.box1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 50%;
  height: 140px;
  border-radius: 20px;
  background-color: #b6b6b6;
}

.trophys{
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
}

.quiz{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.box2{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 150px;
  gap: 20px;
}

.box21{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%%;
  height: 60px;
  background-color: #b6b6b6;
  border-radius: 20px;
}



/*---------------------- *\
 * ----- login ---------
\* --------------------- */

.body_login {
  align-content: center;
  justify-items: center;
  min-height: 100vh;
  margin: 0;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F3F3F3;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25), 
              0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  width: 500px;
  height: 400px;
  gap: 30px;
}

.login:hover {
  transform: translateY(-2px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3), 
              0 10px 20px rgba(0, 0, 0, 0.15);
}

.login img{
  width: 150px;
  height: 150px;
  margin-top: 45px; 
}

.form input{
  background: #fafafa;
  padding: 6px;
  border-radius: 10px;

  width: 100%;
  max-width: 400px;
  transition: 0.5s;
}

.form input:focus {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.btn_login a{
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn_login a:hover{
  transform: translateY(2px);
  background: #0056b3;
}
